/* Réinitialisation de quelques styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Arial', sans-serif; /* Remplacer par la police de votre choix */
    background-color: #FFFFFF; /* Couleur de fond pour le corps de la page */
}

/* En-tête */
header {
    background-color: #FFCC00; /* Couleur de fond jaune pour l'en-tête */
    color: #333333; /* Couleur de texte pour l'en-tête */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation Bar */
nav a {
    background-color: #FFCC00; /* Couleur de fond pour les liens de navigation */
    color: #333333; /* Couleur de texte pour les liens de navigation */
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #f0ad4e; /* Couleur de fond au survol pour les liens de navigation */
}

/* Contenu principal */
.main-content {
    background-color: #FFFFFF; /* Couleur de fond pour la partie principale */
    padding: 2rem;
}

/* Boutons */
button, .button, nav a {
    background-color: #FFCC00; /* Couleur de fond pour les boutons */
    color: #333333; /* Couleur de texte pour les boutons */
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, .button:hover, nav a:hover {
    background-color: #ec971f; /* Couleur de fond au survol pour les boutons */
    color: #fff;
}

/* ----------------------------  INGREDIENTS ----------------------------- */
/* ingredient card */
.ingredient {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.ingredient:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ingredient .content {
    margin-top: 10px;
}

.ingredient .content .group {
    margin-bottom: 10px;
}

.ingredient label {
    font-weight: bold;
}

.ingredient-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* ----------------------------  UTILISATEURS ----------------------------- */
/* Utilisateurs cards */
.utilisateur-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease-in-out;
}

.utilisateur-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.utilisateur-card .content {
    margin-top: 10px;
}

.utilisateur-card .content .group {
    margin-bottom: 10px;
}

.utilisateur-card label {
    font-weight: bold;
}

.utilisateur-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
